# Allow PHP in html files
AddType application/x-httpd-php .html

# Protect the htaccess file
<Files .htaccess>
Order Allow,Deny
Deny from all
</Files>

## Uncomment out block below to password protect site with Apache htpasswd file
#AuthUserFile /path/to/.htpasswd
#AuthType Basic
#AuthName "Realtime WWLLN Map Access"
#AuthName "Contact Robert Holzworth (bobholz@washington.edu) for access"
#Require valid-user

Options -Indexes
